{% extends 'tasks/index.html' %}

{% block title %} Perfil {% endblock %}

{% block content %} 

    <h1> Meu Perfil </h1>

    <p> Está pagínas contém informações do usuário.<br>
    <a href="editarPerfil">Editar Perfil</a>
    <a href="excluirPerfil">Excluir Perfil</a>
    </p>

    {% for task in perfil %}
    
    Usuario: {{user.user_name}}<br>
    E-mail: {{user.email}}<br>
    Nome: {{task.first_name}}<br>
    Sobrenome: {{tasl.last_name}}<br>
    
    
    {% endfor %}


</div>

<div class="table-responive table-edit">
    <h2>Meus Registros de encontrados</h2>
    <table class="table table-striped">
        <tr>
            
            <th>Id</th>
            <th>Serviço</th>
            <th>Horário</th>
            <th>Estado</th>
            <th>Detalhes</th>

            
            
        </tr>
        
        {% for task in registros %}
            
            <td>{{task.id}}</td>
            <td>{{task.service}}</td>
            <td>{{task.hour}}</td>
            <td>{{task.status}}</td>
            <td><a href="{% url 'info' task.id%}">Mais Informações</a></td>
                      
        </tr>
        {% endfor %}
    </table>
</div>


            
        </table>
    </div>


    
{% if alert %}
<script>
    alert('Agendamento registrado no sistema')
</script>
{% endif %}

{% endblock %}