{% extends 'tasks/index.html' %}

{% block title %} Análises {% endblock %}

{% block content %} 

<div class="text-box">

    <div>
      <canvas id="myChart" width="10" height="2"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
         const labels = JSON.parse('{{ service_labels_json|escapejs }}');
         const data = JSON.parse('{{ service_values_json|escapejs }}');
    
            // Criando o gráfico de barras
            const ctx = document.getElementById('myChart').getContext('2d');
            const serviceChart = new Chart(ctx, {
                type: 'bar',  // Tipo de gráfico (barra)
                data: {
                    labels: labels,  // Rótulos dos serviços
                    datasets: [{
                        label: 'Quantidade de Serviços',
                        data: data,  // Quantidade de ocorrências de cada serviço
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
    
    </div>

    
{% endblock %}