{% extends 'tasks/index.html' %}

{% load crispy_forms_tags %}

{% block title %} Fazer Agendamento {% endblock %}

{% block content %}

<div class="text-box">
    <h1>Agendamento</h1>

    <p>Para fazer um agendamento conosco, basta preencher o formulário abaixo e pronto.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        
        <input type="submit">

    </form>

</div>

{% if alert %}
<script>
    alert(`Já existe um agendamento nesse dia e horário.
        Caso Queira manter o horário agende outro dia.
        Caso Queira manter o dia altere o horário.`)
</script>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        setupDynamicHourSelection();
    });
</script>
{% endblock %}