{% extends 'tasks/index.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="text-box">
    
    <h1>Bem vindo</h1>

    <h2>Você está autenticado em nosso sistema como administrador.</h2>

    <p>Para consultar a lista de serviços acesse <a href="servicesList">Serviços</a></p>

    <p>Para adicionar um novo serviço a lista acesse <a href="addService">Adicionar Serviço</a></p>

    <p>Para consultar a lista de produtos acesse <a href="productsList">Produtos</a></p>

    <p>Para adicionar um novo produto a lista acesse <a href="addProduct">Adicionar Produtor</a></p>

    <p>Para consultar a lista de agendamentos basta acessar <a href="appoitmentsList">Agendamentos</a>
    </p>

</div>
{% endblock %}