{% extends 'tasks/index.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="text-box">
    
    <h1>Bem vindo</h1>

    <h2>Você está autenticado em nosso sistema.</h2>

    <p>Para ver os serviços que tem a oferecer basta acessar <a href="servicesList">Serviços</a></p>

    <p>Para consultar as linhas de produtos que trabalhamos basta acessar <a href="productsList">Produtos</a></p>

    <p>Para fazer um agendameto conosco basta acessar <a href="addAppoitment">Fazer Agendamento</a>
    </p>

    <p>Para ver os seus agendamentos conosco basta acessar o seu <a href="perfil">Perfil</a></p>

</div>
{% endblock %}